@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
/* ------ Menú ----- */

.logo-titulo {
    font-family: 'Merienda', cursive;
    color: #efb810;
    font-size: 1.5em;
    position: relative;
    bottom: 20%;
    margin-left: 5px;
    margin-right: 5px;
}
.menu {
    height: inherit;
    position: relative;
    right: 0;
}
.link {
    font-size: 0.9em;
    font-family: 'Comfortaa', cursive;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header ol {
    display: flex;
    list-style: none;
}
.header a {
    text-decoration: none;
    display: flex;
    height: inherit;
    padding: 0 10px;
    justify-content: flex-end;
}
.enlaces-uno a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 6px;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;
}
.enlaces-uno a:hover, .active {
    border-top: 2px solid #efb810;
    border-bottom: 2px solid #efb810;
}
.otros-productos {
    white-space: nowrap;
}
/* ---- Fin Menú --- */

/*comienzo seccion nosotros*/
.video-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
}

.video {
    overflow: hidden;
}

.video video {
    width: 100%;
}

.video-opacity {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #303952;
    z-index: 1;
    opacity: .80;
}

.contenedor-banner {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    z-index: 5;
    height: 100%;
    justify-content: space-between;
}

.video-imagen {
    width: 45%;
}
.video-imagen img {
    width: 100%;
}
.video-texto {
    width: 50%;
    box-sizing: content-box;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.video-texto h2 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
}
.video-texto h1 {
    font-size: 3rem;
    color: #efb810;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
}
.video-texto p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
}
.btn {
    display: inline-block;
    background: #efb810;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
}
/*final seccion nosotros*/
/*estilos animaciones seccion nosotros*/
.bounceInLeft {
  animation-duration: 2s;
} 
.bounceInRight {
  animation-duration: 2s;
} 
/* ------------------------------------------------- Media Queries ---------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    .logo-titulo {
        margin-top: 5px;
        font-size: 1.2em;
    }
    .menu {
        position: fixed;
        background: linear-gradient(to right, #eea849, #f46b45);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    a.link {
        color: white;
        font-weight: bold;
    }
    .close {
        display: none;
    }
    .header {
        display: block;
        height: auto;
        padding: 0;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        display: block;
        height: 30px;
        text-align: center;
    }
    .header a {
        padding-bottom: : 10px;
        justify-content: center;
        height: 30px;
        font-size: 20px;
    }
    .header .logo {
        display: none;
        text-align: center;
    }
    #burger-menu {
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        position: fixed;
        z-index: 4;
        right: 0;
        color: white;
        display: inline;
        font-size: 1.4em;
    }
    .enlaces-uno a:hover, .active {
        border-top: none!important;
        border-bottom: none!important;
        color: #eeeeee;
    }
    .enlaces-uno a {
        border-top: none!important;
        border-bottom: none!important;
        transition: 0.7s ease-out;
    }
     .video-texto h2 {
    font-size: 1rem; 
    white-space: nowrap; 
}
.video-texto h1 {
    font-size: 1.2rem;
    
}
.video-texto p {
    font-size: 0.8rem;
    
}
.btn {
    cursor: pointer;
   font-size: 0.5rem;
   padding: 0.65rem 0.6rem;
} 

}
@media (min-width: 769px) and (max-width: 963px) {
    .logo-titulo {
        font-size: 1.3em;
    }
    .enlaces-uno a {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: none;
        padding: 3px;
        color: #fff;
        text-decoration: none;
        font-size: 1em;
    }
    .video-texto h2 {
    font-size: 1.7rem;
    
}
.video-texto h1 {
    font-size: 2rem;
   
}
.video-texto p {
    font-size: 0.9rem;
    
}
.btn {
    
    font-size: 0.6rem;
   padding: 0.5rem 1rem;
}
}