@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
/* ------ Menú ----- */

.logo-titulo {
    font-family: 'Merienda', cursive;
    color: #efb810;
    font-size: 1.5em;
    position: relative;
    bottom: 20%;
    margin-left: 5px;
    margin-right: 5px;
}
.menu {
    height: inherit;
    position: relative;
    right: 0;
}
.link {
    font-size: 0.9em;
    font-family: 'Comfortaa', cursive;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
}
.header ol {
    display: flex;
    list-style: none;
}
.header a {
    text-decoration: none;
    display: flex;
    height: inherit;
    padding: 10px;
    justify-content: flex-end;
}
.enlaces-uno a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 6px;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;

}
.enlaces-uno a:hover, .active {
    border-top: 2px solid #efb810;
    border-bottom: 2px solid #efb810;
}
.otros-productos {
    white-space: nowrap;
}
/* ---- Fin Menú --- */

/*comienzo seccion nosotros*/

.video-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    overflow: hidden;
}
.video {
    overflow: hidden;
}
.video video {
    width: 100%;
}
.video-opacity {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #303952;
    z-index: 1;
    opacity: .60;
}
.contenedor-banner {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    z-index: 5;
    height: 100%;
    justify-content: space-between;
}
.video-imagen {
    width: 45%;
}
.video-imagen img {
    width: 100%;
}
.video-texto {
    width: 50%;
    box-sizing: content-box;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.video-texto h2 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
}
.video-texto h1 {
    font-size: 3rem;
    color: #efb810;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
}
.video-texto p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
}
/*.btn {
    display: inline-block;
    background: #efb810;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
    border-radius:
}*/
.btn {
    /*background: radial-gradient(white, green 100%, white);*/
    background: rgba(0, 0, 0, 0.6);
    border:1.5px solid #efb810;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
    color: #efb810;
    width: 170px;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    letter-spacing: .09em;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    text-align: center;
}
.btn:hover {    
  color: white;
  text-shadow: 2px 3px #efb810;
  background-color: #efb810; 
  border: 1.5px solid lightblue;
  /*box-shadow: 0 0 20px green; queda sin efecto porque pisa el background-color a este estilo*/
}
/*final seccion nosotros*/

/*estilos animaciones seccion nosotros*/

.bounceInLeft {
    animation-duration: 2s;
}
.bounceInRight {
    animation-duration: 2s;
}
/*Comienzo de la galeria de vinos*/

.event {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(193, 149, 14, 0.6);
    width: 100%;
    height: 99.5%;
    overflow: hidden;
    transition: .5s ease;
    z-index: 100;
    opacity: 0
}
.overlay h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.event:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.contenedor-galeria {
    margin: 10px 0 5px 0;
    display: flex;
    /* el contenedor/div se comporta como un bloque */
    justify-content: space-around;
    /* hace que los elementos tengan la misma distancia alrededor */
    flex-wrap: wrap;
    /* le dice a los elementos que se ubiquen en varias líneas si no entran en todos en una */
}
.event-list {
    margin: 10px 0 5px 0;
    display: flex;
    /* el contenedor/div se comporta como un bloque */
    justify-content: space-around;
    flex-wrap: wrap;
    /* hace que los elementos tengan la misma distancia alrededor */
    padding-top: 50px;
}
.event-image {
    width: 280px;
    height: 440px;
    transition: .2s;
    border-radius: 1em;
}
.event-image:hover {
    transform: scale(1.05);
    transition: .5s;
}
/*Final de la galeria de vinos*/

/*Comienzo Pedidos*/

.contenedor-banner2 {
    /*position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    padding: 0;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.video-imagen img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.video-texto1 {
    object-fit: cover;
    filter: brightness(60%);
    cursor: pointer;
    animation: escalar 1.5s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@keyframes escalar {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(1.05);
    }
}
.video-texto1:hover {
    filter: brightness(100%);
}
.texto-pedidos {
    font-size: 2rem;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
    transform: rotate(-20deg);
}
.texto-pedidos1 {
    font-size: 3rem;
    color: #efb810;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
    transform: rotate(-20deg);
}

/*Fin pedidos*/

/*Inicio seccion promociones*/

#slider-contenedor {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.carrusel-slider {
    border: solid 5px red;
    position: relative;
}
.slick-prev {
    z-index: 100;
    background-color: orange;
    left: 0;
    
}
.slick-next {
    z-index: 100;
    background-color: orange;
    right: 0;
    
}
.slick-arrow {
    color: green;
}
.carrusel-image-container {
    position: relative;
}

.carrusel-caption {
    position: absolute;
    left: 0;
    top: 0;
}
.carrusel-caption h4{
    font-size: 3rem;
    color: #efb810;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-top: 15px;
     
}
.carrusel-caption p{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
}

/*Fin seccion Promociones*/

/*Inicio otros productos*/
.for_slick_slider {
    display: flex;
    margin-top: 30px;
}
.for_slick_slider .items {  
    position: relative;
}
.for_slick_slider .items .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 95.2%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
}
.for_slick_slider .slick-center .overlay {
    opacity: 0;
}
.items img {
    width: 280px;
    height: 440px;
}
.for_slick_slider .items img {
    width: 95.2%;
    transition: all linear .4s;
    object-fit: cover;
}

/*Fin otros productos*/

/*Inicio Formulario*/
.bigbox {
    box-sizing: border-box;
    width: 100%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    background-image: url("../imagenes/corcho.jpg");
    background-position: center;

     /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6em 0;
}
.box-form {
    box-sizing: border-box;
    height: 450px;
    width: 80%;
    margin: 50px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 30px;
    border: 1px solid lightblue;
}
.box1 {
    box-sizing: border-box;
    height: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Comfortaa';
    color: #fff;
}
.box1 input, .box2 button{
    padding: 1.5em;
    margin-bottom: 1.5em;
}
.box1 input{
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
}
.box1 button{
    /*background: radial-gradient(white, green 100%, white);*/
    background: rgba(0, 0, 0, 0.6);
    border:1.5px solid #efb810;
    border-radius: 5px;
    color: #efb810;
    width: 150px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 100px;
    transition-duration: 0.4s;
    cursor: pointer;
    letter-spacing: .09em;
    text-transform: uppercase;
    outline: none;
}
.box1 button:hover {    
  color: white;
  text-shadow: 2px 3px #efb810;
  background-color: #efb810; 
  border: 1.5px solid lightblue;
  /*box-shadow: 0 0 20px green; queda sin efecto porque pisa el background-color a este estilo*/
}
.box2 {
    width: 45%;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid green;*/
    font-size: 20px;
    font-family: 'Comfortaa';
    color: #fff;
}
.box2 label {
    
}
.box2 textarea {
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    border: 1px solid lightblue;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    
}
textarea::placeholder {
    
}
/*Fin del Formulario*/

/*Inicio Footer*/
.footer-pie {
    width: 100%;
    /*background-color: rgba(165, 42, 42, 0.5);*/
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border:1px solid blue;*/
}
.pie-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: 'Comfortaa';
    color: white;
    /*background-color: pink;*/
}
div.info-pie {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: flex-start;
    padding-left: 0px;
}
.info-pie p {
    width: 50%;
    font-size: 15px;
    color:black;
}
/*Inicio redes Sociales*/
.pie-redes ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

/* ------------------------------------------------- Media Queries ---------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden; 
    }
    .logo-titulo {
        margin: 0;
        margin-top: 5px;
        font-size: 1.2em;
    }
    .menu {
        position: fixed;
        background: linear-gradient(to right, #eea849, #f46b45);
        z-index: 3000;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    a.link {
        color: white;
        font-weight: bold;
    }
    .close {
        display: none;
    }
    .header {
        display: block;
        height: auto;
        padding: 15px;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        display: block;
        height: 30px;
        text-align: center;
    }
    .header a {
        padding-bottom: : 10px;
        justify-content: center;
        height: 30px;
        font-size: 20px;
    }
    .header .logo {
        display: none;
        text-align: center;
    }
    #burger-menu {
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        position: fixed;
        z-index: 5000;
        right: 0;
        top: 10px;
        color: white;
        display: block;
        font-size: 1.4em;
    }
    .enlaces-uno a:hover, .active {
        border-top: none!important;
        border-bottom: none!important;
        color: #eeeeee;
    }
    .enlaces-uno a {
        border-top: none!important;
        border-bottom: none!important;
        transition: 0.7s ease-out;
    }
    .video-texto h2 {
        font-size: 1rem;
        white-space: nowrap;
    }
    .video-texto h1 {
        font-size: 1.2rem;
    }
    .video-texto p {
        font-size: 0.8rem;
    }
    .btn {
        cursor: pointer;
        font-size: 0.5rem;
        padding: 0.65rem 0.6rem;
    }
    .video-texto .linea {
        width: 100%;
        margin: auto;
        height: 3px;
        background-color: #efb810;
        margin-bottom: 20px;
    }
    .contenedor-imagenes {
        width: 90%;
    }
    .contenedor-imagenes .imagen {
        width: 48%;
    }
    .texto-pedidos {
        font-size: 0.5rem;
    }
    .texto-pedidos1 {
        font-size: 1rem;
    }
    .contenedor-works {
        display: block;
    }
    .event {
        align-items: center;
        /* los elementos se agrupan en el medio de la caja */
    }
    .event-list {
        padding-top: 0px;
        flex-wrap: wrap;
        /* le dice a los elementos que se ubiquen en varias líneas si no entran en todos en una */
    }
    .event-image {
        justify-content: center;
        /* centra los elementos */
        width: 300px;
        height: auto;
    }
    .event-image:hover {
        transform: none;
    }
}
@media (min-width: 769px) and (max-width: 963px) {
    .logo-titulo {
        font-size: 1.3em;
    }
    .enlaces-uno a {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: none;
        padding: 3px;
        color: #fff;
        text-decoration: none;
        font-size: 1em;
    }
    .video-texto h2 {
        font-size: 1.7rem;
    }
    .video-texto h1 {
        font-size: 2rem;
    }
    .video-texto p {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.6rem;
        padding: 0.5rem 1rem;
    }
    .video-texto .linea {
        width: 200px;
        margin: auto;
        height: 3px;
        background-color: #efb810;
        margin-bottom: 20px;
    }
    .contenedor-imagenes {
        width: 95%;
    }
    .contenedor-works {
        display: block;
    }
    .event {
        align-items: center;
        /* los elementos se agrupan en el medio de la caja */
    }
    .event-list {
        padding-top: 0px;
        flex-wrap: wrap;
        /* le dice a los elementos que se ubiquen en varias líneas si no entran en todos en una */
    }
    .event-image {
        justify-content: center;
        /* centra los elementos */
        width: 300px;
        height: auto;
    }
    .event-image:hover {
        transform: none;
    }
}